*{
	margin: 0%;

}
p{
	text-align: justify;
	line-height: 2;
}
article{
	background-color: #4B4F5A;
	color: #fff;
	padding:1rem;
	border-radius: 10px;
}

/**********************************Le menu grand ecran**********************************/
.menuGl{
	box-shadow:1px 1px 8px #000;
	top:200px;width:35px;
	height:175px;
	right:0;
	position:fixed;
	color:#fff;
}

.menuGl:hover{
	width:150px;
	box-shadow:0 0 0 #000;
	top:200px;
	height:150px;
	right:0;
	position:fixed;
	color: #fff;
}

.profilMenu:hover,.formationMenu:hover,.competenceMenu:hover,.interetMenu:hover,.projetMenu:hover{
	box-shadow:1px 1px 8px #000;
}

.profilMenu{
	width:35px;
	height: 35px;
	overflow: hidden;

}
.profilMenu,.profilMenu:hover{
	background-color: #4b4f5a;
	top:200px;
	right:0;
	position:fixed;
	padding: 0.2rem;

}

.profilMenu:hover{
	width:165px;
	height: 35px;
}

.formationMenu,.formationMenu:hover{
    background-color: #4b4f5a;
	top:235px;
	right:0;
	position:fixed;
	padding: 0.2rem;

}

.formationMenu{
	width:35px;
	height: 35px;
	overflow: hidden;

}

.formationMenu:hover{
	width:165px;
	height: 35px;
}

.competenceMenu,.competenceMenu:hover{
    background-color: #4b4f5a;
	top:270px;
	right:0;
	position:fixed;
	padding: 0.2rem;

}

.competenceMenu{
	width:35px;
	height: 35px;
	overflow: hidden;

}
.competenceMenu:hover{
	width:165px;
	height: 35px;
}
.projetMenu,.projetMenu:hover{
    background-color: #4b4f5a;
	top:305px;
	right:0;
	position:fixed;
	padding: 0.2rem;

}

.projetMenu{
	width:35px;
	height:35px;
	overflow: hidden;

	
}
.projetMenu:hover{
	width:165px;
	height: 35px;
}

.interetMenu,.interetMenu:hover{
    background-color: #4b4f5a;
	top:340px;
	right:0;
	position:fixed;
	padding: 0.2rem;

}
.interetMenu{
	width:35px;
	height: 35px;
	overflow: hidden;
}
.interetMenu:hover{
	
	width:165px;
	height: 35px;
}
.menuGl img{
width: 31px;
height: 31px;
}


/************************************Main*****************************************/
/*Style appliqué à tout les p h3 et .periode */
p{
	text-align: justify;
}
 h3{
	color: #DA727E;

}

.periode{/* span presentant la durée d'une formation ou d'un projet */
border-radius: 10px 100px / 120px;
	color:#fff; 
	background-color: #9EC636;
	font-weight: bold;
    line-height: 1;
    width: auto;
    padding: .3rem;

}

 main h2{/* Les titres des sections*/
	text-align: center;
	font-family: 'Righteous', cursive;
	color:  #4B4F5A;
	font-size: 2.3em;
	margin-top: 4rem;
}
section hr{/* la ligne en dessous des titres*/
	background: #AC6C82;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 6rem;
    height: 0.4rem;
    border-top: 1px solid #AC6C82;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    margin-bottom: 4rem;
}
.formation,.competences, .realisations, .centreInteret{/* Les sections*/
	padding:2rem 2rem 5rem 2rem;

}

.competences, .centreInteret{
	background-color: #F5F5F5;
}
/* Section Formations*/
.formationCorps{
display: flex;
justify-content: space-between; /*pour un espacement == entre articles*/


}
.formationCorps article
{
width: 30%;

	
}

/*La section compretences*/

.competencesCorps{
	display: flex;
	flex-wrap: wrap;
}
.competencesCorps section{
	width: 33%;
}
.competences li
{
	    list-style-image: url('../images/ico_liensexterne.png');


}

/*section realisations*/
.realisationsCorps{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.realisationsCorps article{
	width: 30%;
	margin-bottom: 1rem;

}
.realisationsCorps img{
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	margin-top: .5em;
}
.jaune{
	color: yellow;
}
#mot{
	width: 50%;
	text-align: justify;
}
#etoiles{
	width: 50%;
	float: right;
	background-color: 
}
/*Section centres d'interet*/
#interet{
	display: flex;
	flex-wrap: wrap;

	
}
.centreInteret li{
		    list-style-image: url('../images/ico_liensexterne.png');
		    width: 30%;

}

/********************************Le footer: pieds de page**************/

footer{
	background-color: #AC6C82;
	color: rgba(255,255,255,.7);
	padding: 6rem 2rem 2rem 2rem;
	font-size: 0.8rem;

}
#copyright{
	float: right;


}
/*********************Partie pour les petits ecrans dont la resolution onferieur à 1024*********************/
@media all and (max-width: 1024px)
{

	header{
		display: flex;
		flex-direction: column;
		padding:3em;
	}

	.photoSM p{
        text-align: center;
    }

	h1{
		text-align: center;
	}

	header h2{
		text-align: center;
	}

	.presentation p{
		width: 100%!important;
		float: left;
		text-align: justify;
	}

	.formationCorps, .realisationsCorps,.competencesCorps{
		display: flex;
		flex-direction:column;
		padding:0rem;
		width: 100%!important;
	}
	.formation,.competences, .realisations, .centreInteret{/* Les sections*/
	padding:1rem 1rem 2rem 1rem;

}


	article{
		width: 100%!important;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.competencesCorps section{
	width: 100%!important;
	}
	#interet{
		display: flex;
		flex-direction: column;	
		justify-content: center!important;
		width: 100%!important;
	}
article p{
	text-align: justify;
	float: left;

}
.centreInteret li{
		    width: 100%!important;

}
}
/**************************************/
@media screen and (min-width: 200px) and (max-width: 640px){

}

/**********************Le header*****************************/
header{
	background-color: #4B4F5A;
	 width: auto;
	 display: flex;
}
h1{
	font-family: 'Righteous', cursive;
		color: #AC6C82;


}
header h2{
	font-family: 'Righteous', cursive;
	font-family: 'ABeeZee', sans-serif;
	color:white;
}
.titre
{
	    margin-top: 3.2em;
}

.photoSM{/* Le bloc qui est à gauche contenant la photo de profil et les icone Social media*/
	text-align: center;

}
.infoContact{ /*le bloc des icones social media*/
	text-align: center;
	margin-right: 2em;
    margin-left: 3em;
}

.infoContact img{/*les icone social media*/
	width: 2em;
	height: 2em;
	margin-right: 0.5em;
	margin-top: 2em;

}
#info {
	list-style-type: none; 
}
.cointereteurIconInfo{
	color:#DA727E;
}
.presentation p{/* paragraphe de presentation*/
	color: white;
	font-family: 'Righteous', cursive;
	font-family: 'ABeeZee', sans-serif;
	width: 70%;
	margin-top: 1em;
	margin-bottom: 1em;

}


#maPhoto{
	overflow:hidden;
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    border-radius:100px;
    width:180px;
    height:180px;
    margin-top: 4em;
    margin-right: 2em;
    margin-left: 3em;
    border: 5px  #AC6C82 solid;
    /*box-shadow: 0px 0px 10px #FF947D; */

}
.couleurIconInfo{
	color:#d62965; 
}
#info{ /* la liste des info qui precede le paragraphe de presentation*/
	color: white;
	list-style-type: none; 
	margin-left: -2.5em;
	margin-top: 1em;
	font-family: 'Righteous', cursive;
	font-family: 'ABeeZee', sans-serif;
}
